.city-searchbar {
	margin: 1rem;
	text-align: center;
	position: relative;
	input {
		height: 3rem;
		width: 75%;
		font-size: 1rem;
		color: rgba(0, 0, 0, 0.5);
		padding-left: 0.5rem;
		border: 1px solid #3cbeb6;
	}

	button {
		color: #fff;
		height: 3rem;
		width: 3rem;
		border: none;
		position: absolute;
		background-color: #3cbeb6;
	}
}

.error-message {
	color: #ff6038;
}
